html {
  box-sizing: border-box;
}
*,
*::before *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.container {
  max-width: 1370px;
  margin: 0 auto;
  width: 100%;
}
.containerVideo {
  max-width: 1506.84px;
  margin: 0 auto;
  width: 100%;
}

/************************************************************************ navigation ***********************************************************/

.navigation {
  display: flex;
  margin-bottom: 17px;
}
.logo {
  padding-top: 32px;
  width: 79.565px;
  height: 23.04px;
}
.navigation-ul {
  display: flex;
  text-decoration: none;
  color: #292929;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
  margin-left: 172px;
  padding-top: 32px;
}
.navigation-ul li:nth-child(1) a {
}
.navigation-ul li:nth-child(2) a {
  margin-left: 73px;
}
.navigation-ul li:nth-child(3) a {
  margin-left: 72px;
}
.navigation-ul li:nth-child(4) a {
  margin-left: 72px;
}
.navigation-ul li a {
  text-decoration: none;
  color: #000;
}
.navigation-ul li {
  list-style: none;
}
.navigation-p {
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-left: 282px;
  padding-top: 32px;
}
.navigation-button {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  background-color: #01996d;
  border-radius: 4px;
  border: 1px #01996d;
  height: 51px;
  width: 183px;
  margin-left: 38px;
  margin-top: 18px;
  cursor: pointer;
}
.navigation-button:hover {
  background-color: #02ab7b;
}
/************************************************************************ background ***********************************************************/

.background {
  background-image: url(../img/header/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 895px;
}
.navigation-promo {
  display: flex;
  flex-direction: column;
  width: 440px;
  padding-top: 132px;
}
.h1-promo {
  color: #01996d;
  font-family: Georgia;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-top: 44px;
}
.p-promo {
  color: #484848;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 146%;
  margin: 0;
  margin-top: 29px;
  width: 420px;
}
.button-promo {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  background-color: #01996d;
  border-radius: 4px;
  border: 1px solid #01996d;
  height: 65px;
  width: 227px;
  margin-top: 52px;
  cursor: pointer;
}
.button-promo:hover {
  background-color: #02ab7b;
}

/************************************************************************ Steps ***********************************************************/

.steps {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 46px;
}
.Howitworks {
  display: flex;
  gap: 136px;
  padding-top: 120px;
  margin-bottom: 100px;
}
.Howitworks-left {
  margin: 0;
}
.p-Howitworks {
  color: #424242;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 157%;
  margin: 0;
  /* padding-top: 117px; */
}
.h3-Howitworks {
  color: #01996d;
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
  margin: 0;
  width: 584px;
}
.Howitworks-right {
  margin: 0;
}
.p-Howitworks-right {
  color: #424242;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 148%;
  margin: 0;
  padding-top: 58px;
}

.step {
  display: flex;
  gap: 95px;
  /* width: 30%;
  text-align: center; */
}

.step-image01 {
  position: relative;
  width: 157px;
  padding-top: 33px;
  padding-left: 6px;
}
.step-image02 {
  position: relative;
  width: 157px;
  padding-top: 321px;
  padding-left: 6px;
}
.step-image03 {
  position: relative;
  width: 157px;
  padding-top: 86px;
  padding-left: 14px;
}

.img-step01 {
  margin-top: 59px;
}
.img-step02 {
  padding-top: 37px;
}
.img-step03 {
  padding-top: 50px;
  position: relative;
  right: -6px;
  top: -1px;
}
.step-text01 {
  position: absolute;
  top: 85px;
  left: 88px;
  color: #000;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

.step-text02 {
  position: absolute;
  top: 379px;
  left: 79px;
  color: #000;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}
.step-text03 {
  position: absolute;
  top: 140px;
  left: 131px;
  color: #000;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}

.h2-step-text01 {
  color: #000;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}
.h2-step-text02 {
  color: #000;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  position: relative;
  top: -7px;
  left: 1px;
  white-space: nowrap;
}
.h2-step-text03 {
  color: #000;
  text-align: center;
  font-family: Georgia;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
}
.p-step-text01 {
  color: #424242;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 382px;
  margin: 0;
  padding-top: 64px;
}
.p-step-text02 {
  color: #424242;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 392px;
  margin: 0;
  padding-top: 63px;
}
.p-step-text03 {
  color: #424242;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin: 0;
  width: 402px;
  padding-top: 31px;
}

/****************************************************** video */

.Video {
  background-color: #245852;
  height: 922px;
}
.containerVideo {
}
.flex__video {
  display: flex;
  padding-top: 216px;
}
.left__video-text {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.h2__video {
  color: #fff;
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
  width: 580px;
  margin: 0;
  position: relative;
  top: 96px;
}
.p2__video {
  color: #fff;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 157%;
  margin: 0;
  position: relative;
  top: 15px;
}
.button__video {
  border-radius: 4px;
  border: 1px solid #01996d;
  background-color: #01996d;
  height: 65px;
  width: 240px;
  margin: 0;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
  position: relative;
  top: -44px;
  cursor: pointer;
}
.button__video:hover {
  background-color: #02ab7b;
}
.right__video {
}
.img__video {
  width: 895.843px;
  height: 516.11px;
  border-radius: 16.333px;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  top: 13px;
}
.ico__video {
  position: relative;
  top: -293px;
  left: 408px;
  cursor: pointer;
  transition: fill 0.3s ease;
}
.ico__video:hover {
  filter: brightness(0) saturate(100%) invert(60%) sepia(39%) saturate(368%)
    hue-rotate(125deg) brightness(95%) contrast(92%);
}

/****************************************************** our_product */

.our_product {
  margin-bottom: 245px;
}
.flex__our_product {
  display: flex;
  gap: 70px;
  margin-top: 118px;
  margin-left: 58px;
}
.left {
  background-color: #ccebe2;
  border-radius: 18.112px;
  width: 1191px;
  height: 573.26px;
}
.img__left {
  padding-left: 100px;
}
.mini-blok {
  border-radius: 3.73px;
  position: relative;
  top: -222px;
  left: -59px;
  text-align: center;
  width: 296.139px;
  height: 293.901px;
  margin: 0;
  border-radius: 3.73px;
  border: 1px solid #01996d;
  background-color: #fff;
}
.h2__mini-blok {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 14.49px;
  font-style: normal;
  font-weight: 600;
  line-height: 157%;
  margin: 0;
  position: relative;
  top: 23px;
}
.line {
  width: 110.486px;
  height: 0.746px;
  background-color: #000;
  position: relative;
  top: 10px;
}
.mini-img__blok {
  width: 69.733px;
  position: relative;
  top: 44px;
  margin: 0 auto;
}
.img__mini {
  border-radius: 50%;
}
.p-mini {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 11.935px;
  font-style: normal;
  font-weight: 400;
  line-height: 157%;
  margin: 0;
  position: relative;
  top: 8px;
}
.p-blok {
  color: #000;
  font-family: Georgia;
  font-size: 15.929px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
  position: relative;
  top: 71px;
  left: 3px;
  margin: 0;
}
.p-blok1 {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 10.619px;
  font-style: normal;
  font-weight: 400;
  line-height: 157%;
  position: relative;
  top: 87px;
  left: -28px;
  margin: 0;
}
.p-blok2 {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 10.619px;
  font-style: normal;
  font-weight: 400;
  line-height: 157%;
  position: relative;
  top: 103px;
  left: -37px;
  margin: 0;
}
.right {
  margin: 0;
}
.p2__right-top {
  color: #424242;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 157%;
  margin: 0;
  padding-left: 23px;
  padding-top: 4px;
}
.h2__right {
  color: #01996d;
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 157%;
  margin: 0;
  padding-left: 21px;
  padding-top: 9px;
}
.p2__right {
  color: #484848;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 152%;
  margin: 0;
  padding-left: 22px;
  padding-top: 19px;
}

.button__right {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  height: 65px;
  width: 226px;
  border-radius: 4px;
  border: 1px solid #01996d;
  background-color: #01996d;
  margin-left: 22px;
  margin-top: 31px;
  cursor: pointer;
}
.button__right:hover {
  background-color: #02ab7b;
}

/* footer */

.background-footer {
  background-color: #245852;
  height: 654px;
}
.flex__footer {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.h2-footer {
  color: #fff;
  font-family: Avenir;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}

.ul-footer {
  color: #fff;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0;
  padding-top: 65px;
}

.ul-footer li a {
  text-decoration: none;
  color: #fff;
}

.ul-footer li:nth-child(1) a {
}
.ul-footer li:nth-child(2) a {
  position: relative;
  top: 60px;
}
.ul-footer li:nth-child(3) a {
  position: relative;
  top: 120px;
}
.ul-footer li:nth-child(4) a {
  position: relative;
  top: 177px;
}

.ul-footer li {
  list-style: none;
}
.ul-footer li a:hover {
  color: #02ab7b;
}
